 /* div {
     border: 10px solid yellow;
     margin: 20px 50px 1px 20px;
     padding: 2px 20px 10px 100px;
     outline: 5px solid green;
     outline-offset: 5px;
     background-color: chocolate;
 } */